<md-tab-group>
  <md-tab label="Popular Movies">
    <div class="card-panel">
      <movie-cards [filter]="'popular'"></movie-cards>
    </div>
  </md-tab>
  <md-tab label="Top Movies">
    <div class="card-panel">
      <movie-cards [filter]="'top'"></movie-cards>
    </div>
  </md-tab>
  <md-tab label="Upcoming Movies">
    <div class="card-panel">
      <movie-cards [filter]="'upcoming'"></movie-cards>
    </div>
  </md-tab>
  <md-tab label="Now Playing Movies">
    <div class="card-panel">
      <movie-cards [filter]="'nowplaying'"></movie-cards>
    </div>
  </md-tab>
</md-tab-group>