.row {
    margin-left: 10%;
    margin-right: 10%;
}

md-card-image {
    padding: 5%;
    width: 100%;
}

md-card {
	background-color: rgba(70,3,90,0.4);
}

md-card-subtitle, md-card-title {
	color: white;
}

md-card label {
	color: white;
}

md-card-content p {
	margin-left: 3%;
}
/deep/ .mat-tab-label {
	color: white;
	font-size: large;
    font-weight: bold;
    margin: auto;
}

h6 {
	margin-left: 5%;
	color: rgb(171, 6, 204);
}